<div class="show">
  <div class="show-container">
    <div class="d-flex mt-5">
      <div style="position: relative">
        <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
        <h3 style="position: absolute; top: 20px; left: 10px">
          <%= @item.brand %> | <%= @item.name %></h3>
        <p style="position: absolute; top: 60px; left: 10px">$<%= @item.price %> | 1 DAY</p>
      </div>
      <div>
        <div class= "calendar">
            <%= simple_form_for [@item, @rental] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <button type="button" class="btn btn-secondary btn-sm"><%= f.button :submit, "Rent" %></button>
          <% end %>
    <!--     <div>
          <%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
          <%= date.day %>
          <% end %>
        </div> -->
        </div>
      </div>
    </div>
    <h4 class="mt-3">Description</h4>
    <p class="mt-4">Wearing a Rolex watch enables entry into a world of unlimited possibilities. Rolex’s story began when founder Hans Wilsdorf created the first waterproof wristwatch – the Oyster – and developed into a range of timepieces that have become icons of watchmaking. Discover Rolex watches on the wrists of pioneers, artists, athletes and visionaries and journey to the very highest summits and the deepest part of the oceans.

    Luxury offers free standard shipping on qualifying orders of $150 or more before taxes and shipping charges are added or $25 flat-rate standard shipping. Return shipping is free for all rentals. BACKGROUND CHECK REQUIRED / NO SECURITY DEPOSIT REQUIRED </p>
  </div>
</div>
