<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class = "left-text">
<%= link_to "LUXURY", root_path, class: "navbar-brand" %> |
      <%= form_tag(items_path(category: params[:category]), { method: :get, class: "form-inline" }) do %>
      <%= hidden_field_tag :category,
        params[:category],
        class: "form-control",
        placeholder: "Find a name"
      %>

      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a name"
      %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "RENT", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "DEAL", new_item_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "REGISTER", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "LOGIN", user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-user-circle"></i>
  </button>
  <div class="dropdown-menu">
    <%= link_to "PROFILE", edit_user_registration_path, class: "nav-link" %>
    <%= link_to "LOGOUT", "#", class: "nav-link" %>
    <%= link_to "HELP", "#", class: "nav-link" %>
    <%= link_to "CONTACT", "#", class: "nav-link" %>
  </div>
</div>
      </li>
    </ul>
  </div>
</div>
